//COLORS

$darkRed: #7A1B1B;
$solidBrown: #8C4646;
$lightBrown: #955E5E;
$coral: #D96459;
$lightRed: #E58B83;
$lightPink: #F8C5C1;
$pureWhite: #FFFFFF;
$pureBlack: #000000;

// Size
$border-radius: 4px;

// Responsive
$medium-screen: 768px;
$large-screen: 992px;
$extra-large-screen: 1200px;